<section class="jumbotron text-center py-5 bg">
  <div class="container">
    <h1 class="text-white">The Movie DB</h1>
    <p class="lead text-white">
      Welcome. Millions of movies, TV shows and people to discover. Explore now.
    </p>
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="Search"
      aria-label="Search"
      #inputText
      (keyup)="search(inputText.value)"
    />
    <button
      [routerLink]="['/movie-cart']"
      class="btn btn-success my-2"
      type="submit"
    >
      Cart
    </button>
  </div>
</section>

<div
  class="album py-5"
  style="
    background-image: radial-gradient(
      circle,
      rgba(8, 79, 109, 1) 0%,
      rgba(7, 64, 100, 1) 28%,
      rgba(0, 0, 0, 0.96) 100%
    );
  "
>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of listMovie">
        <div class="card mb-4 shadow-sm img" [style.background]="color">
          <img
            *ngIf="item.backdrop_path != null  || item.poster_path != null"
            class="card-img-top"
            src="{{imagePath + (item.backdrop_path  || item.poster_path)}}"
            height="270px"
            [routerLink]="['/movie', item.id]"
          />

          <img
            src="/assets/img/noImage.jpg"
            *ngIf="item.backdrop_path === null && item.poster_path ===null"
            height="270px"
            [routerLink]="['/movie', item.id]"
          />
          <div class="card-body">
            <h5 class="card-title text title">{{item.original_title}}</h5>
            <p class="card-text text overview">{{item.overview}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  [routerLink]="['/movie', item.id]"
                  class="btn btn-outline-dark"
                >
                  View
                </a>
                <button
                  class="btn btn-outline-secondary"
                  (click)="addCart(item)"
                >
                  Add Cart
                </button>
              </div>
              <small class="text-muted"
                >{{item.popularity | number: '1.0-0'}} Popularity</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
