.bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text {
  color: rgb(163, 160, 160);
  text-shadow: 1px 1px #fff !important;
}

.loading {
  margin: 60px;
  text-align: center;
}

.logo {
  filter: drop-shadow(2px 5px 2px #fff);
}
